body{
  background-color: #161616;
  color: #fff;
  font-family: 'Roboto';

}
#body{
	max-height: 600px;
	max-width: 600px;
	margin: auto;
}
header, section{
  max-width: 500px;
  margin: auto;
}

h1{
  font-size: 2.8em;
}

section{
	text-align: center;
	font-size: 1.4em;
}

div{
	margin: 20px;
}

#tempunit:hover{
	color: blue;
}

#weather
{	padding-bottom: 200px;
}